@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@500&family=Roboto+Condensed&display=swap');

* {
    margin: 0; 
    box-sizing: border-box;
}

body {
     background-color: #999;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto; 
    background-color: #ffffff;   
}

header {
    display: flex;
}

.headerPic{
    background-image: url(../img/header-pic.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerPic img { 
    height: 186px;
}

.brownBg {
    background-color: #9e6d52;
    width: 500px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brownBg img {
    height: 196px;
}

.greenBg {
    background-color: #0a846e;
    width: 500px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenBg img {
    height: 205px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px; 
    box-shadow: 0 0 5px rgba(0,0,0,.2); 
}

nav a{
    text-decoration: none;
    color: #055647;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;

}
/* MAIN HÄR */
.mainGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 700;
    font-size: 48px;
    text-align: center;
    color: #0a846e;
    margin-top: 36px;
    grid-area: auto/span 6;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.roundBigImg {
    background-color: #0a846e;
    width: 377px;
    height: 377px;
    border-radius: 188.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px;
    grid-area: auto/span 3;
}


.säsongArtikel {
    grid-area: auto/span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 41px;
}

.säsongArtikel p {
    padding: 1em 0;
}

.green-btn {
    font-size: 24px;
    font-weight: bold;
    background-color: #0a846e;
    width: 179px;
    height: 63px;
    border: none;
    border-radius: 9px;
    color: white;
}

.säsongArtikel button {
    margin-top: 25px;
    margin-left: auto;
}

hr {
    margin-top: 93px;
    grid-column: 3/span 3;
    border-width: 3px;
    width: 347px;
    background-color: #055647;
    
}

.TESTAR {
    grid-area: auto/span 6;
    text-align: center;
    margin-top: 66px;
}

main article {
    grid-area: auto/span 2;
    padding-left: 30px;
}

main article h3 {}